target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
.idea
pom.xml

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store



# Compiled class files
*.class

# Logs
*.log

# OS-specific files
Thumbs.db

# Temporary files
*.tmp
*.swp
*.bak

# Maven & Gradle
.mvn/
!/.mvn/wrapper/maven-wrapper.jar
.gradle/
**/build/
!gradle/wrapper/gradle-wrapper.jar

# Cache files
*.cache
*.project
*.classpath

# Java coverage reports
*.exec
jacoco.exec